<div class="huis">
<h3>1.ハウステンボス</h3><br>
<%= image_tag 'huis.jpeg', :size => '500x330' %>
<br>
佐世保市にある長崎県を代表するテーマパーク！
オランダの街並みが再現されていて、ゴンドラに乗れたり、テーマパークならではのアトラクションを楽しめます。<br>
夜になると日本最大級ともいわれるイルミネーションで辺りが包まれます。>>>>>
<a href="https://www.huistenbosch.co.jp/" target="_blank">HP</a>
</div>


<div class="enjoy">
ハウステンボス
ビードロ作り
</div>