<div class="burger">

<h3>1.佐世保バーガー BigMan下京町本店</h3><br>
<%= image_tag 'BigMan', :size => '500x330' %><br>
「バナナマンのせっかくグルメ」でも紹介された老舗の佐世保バーガーのお店！
実は佐世保バーガーは決まったスタイルはないので、お店によって味が違うのも楽しめるポイント。<br>
BigManの一番の人気メニューは、「元祖ベーコンエッグバーガー(825円)!! >>>>>
<a href="http://www.sasebo-bigman.jp/" target="_blank">お店HP</a>
</div>

<br>
<hr class="hr1">

<div class="china">
<h3>2.長崎新地中華街</h3><br>
<%= image_tag 'chinatown.jpeg', :size => '500x330' %><br>
横浜・神戸と並ぶ日本三大中華街のひとつ、長崎新地中華街。
東西、南北あわせて約250mの十字路に中華料理店をはじめ、中国菓子や中国雑貨など約40店舗が軒を連ねています。<br>

異国情緒漂う街並みを楽しみながら食べ歩きするのもおすすめ。
長崎名物「ちゃんぽん」や「皿うどん」も美味しい！ >>>>>
<a href="http://www.nagasaki-chinatown.com/" target="_blank">HP</a>
</div>

<br>
<hr class="hr1">

<div class="hirado">
<h3>3.平戸瀬戸市場 シーサイドカフェ</h3><br>
<%= image_tag 'ichiba.png', :size => '500x330' %><br>
新鮮な魚や特産品が集まる集まる市場の中にあるレストラン。平戸で獲れた地物の食材を使った美味しい海鮮丼が人気！
１階には市場があり、ショッピングも楽しめます。<br>
海沿いに位置しているのでロケーションも絶好です！！>>>>>
<a href="https://setoichiba.com/restaurant/" target="_blank">HP</a>
</div>



