<div class="guraba">
<h3>1.グラバー園</h3>
<%= image_tag 'guraba.jpeg', :size => '500x330' %><br>

長崎港を見下ろすことができる丘に位置し、異国情緒あふれる長崎屈指の人気観光スポット。<br>
国指定重要文化財の旧グラバー住宅・旧リンガー住宅・旧オルト住宅をメインに、市内に点在していた6つの明治期の洋館を移築し復元しています。<br>
園内各所が花々で彩られていて写真映えするスポットばかり！>>>>>
<a href="https://glover-garden.jp/" target="_blank">HP</a>
</div>


<div class="unzen">
<h3>2.雲仙地獄</h3>
<%= image_tag 'unzen.jpeg', :size => '500x330' %><br>
全国でも有数な温泉地のひとつでもある雲仙市。定番観光スポットといったら雲仙地獄！<br>
雲仙地獄は硫黄の香りに包まれており、蒸気がたくさん上がっているので白い煙に包まれた景色を楽しむことができます。<br>
温泉卵やレモネードも買うことができるので一緒に食べるのもおすすめ。>>>>>
<a href="https://www.unzen.org/" target="_blank">HP</a>
</div>

<div class="dejima">
<h3>3.出島</h3>
<%= image_tag 'dejima.jpeg', :size => '500x330' %><br>
日本が江戸時代の約200年間、鎖国政策をとり西洋との外交を絶っていた時代に唯一開かれていた貿易の窓口である出島。<br>
現在は、19世紀初めの江戸から明治にかけての建物が再現されていて、様々な時代の街並みを楽しむことができるようになっています。<br>
出島ワーフと呼ばれるベイサイドエリアは、夜になると夜景が綺麗！>>>>>
<a href="https://nagasakidejima.jp/" target="_blank">HP</a>
</div>