

<div class="slide">
     <div class="slide-image"></div>
     <div class="slide-image"></div>
     <div class="slide-image"></div>
</div>

<div class="setsumei">
海に山、美しい自然と観光資源に囲まれた”長崎県”。
長崎についてもっと知ってみませんか?
</div>