// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mh{
  text-align: center;
}

body {
    background-color: #F3EEE6; 
  }

  h1 {
    text-align: center;
  }

  h2 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
    margin-top: 100px;
  margin-bottom: 20px;
  }

  .mano{
  input[type="text"] {
    width: 30%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #D9D9D9
  }

  input[type="email"] {
    width: 30%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #D9D9D9
  }

  input[type="password"] {
    width: 30%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #D9D9D9
  }

  input[type="email（確認用）"] {
    width: 30%;
    height: 50px;
    background-color: #D9D9D9
  }


  input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #D9D9D9
    
  }
}

.img {
  width:  150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
  
}


.mypage{
  margin-top: 100px;
  text-align: center;
}
